h1 {
    font-style: 26px;
    margin: 30px 0;
}

table {
    width: 95%;
    margin: 0 auto;
    border: none;
    border-collapse: collapse;

    thead {
        th {
            text-align: left;
        }
    }

    tbody {
        tr {
            background:#f9f9f9 ;
            height: 50px;
            padding-left: 22px;

        }
    
        tr:nth-child(even) {
            background: #fff;
        }
    }

    td, th {
        padding-left: 20px;
    }
}